<html>
  <head>
    <title>My Angular App!</title>
    <% include ./partials/head.ejs %>

  	
  </head>

  <body>
    <% include ./partials/header.ejs %>
    <div class="about text-center">
      <h2>ABOUT</h2>
      <br>
      <p>"Real Fake Doors" is a sketch from season 1 of Rick and Morty about a store that sells doors that don't open. I made a page for it as CSS practice.</p>
    </div>

  </body>
</html>