<div class="door-image container col-sm-4 col-xs-6" >
	<img ng-src="/img/{{door.picture}}" class="img-responsive" alt="red door">
	<div class="container door-text">
		<h4 class="text-center">{{door.title}}</h2>
		<p>{{door.description}}</p>
	</div>
</div>