<footer class="text-center">
	<a class="up-arrow" href="#home" data-toggle="tooltip" title="TO TOP">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>
	<br>
	<p>"Real Fake Doors" by Daniel Eryavec</p>
</footer>

<script>
	$(document).ready(function(){
	    // Initialize Tooltip
	    $('[data-toggle="tooltip"]').tooltip(); 
	})
</script>